<h2 mat-dialog-title>Login</h2>
<mat-dialog-content [formGroup]="form">
  <mat-form-field appearance="outline" class="full">
    <mat-label>Email</mat-label>
    <input matInput formControlName="email" />
  </mat-form-field>
  <mat-form-field appearance="outline" class="full">
    <mat-label>Password</mat-label>
    <input matInput type="password" formControlName="password" />
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-stroked-button mat-dialog-close>Cancel</button>
  <button mat-flat-button color="primary" (click)="submit()" [disabled]="loading">Login</button>
</mat-dialog-actions>
